* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*los elementos no se salen del contenedor*/
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.main-titles{
    font-size: 23px;
    line-height: 60px;

    margin-top: 140px;
    text-align: center;
}

.section-title{
    text-align: center;
}

.title-featured{
    font-size: 18px;
    text-align: center;
}

/*css for header*/
/*Realizado con Bootstrap5 y grids*/

.logo-img{
    filter: invert(1);
    height: 40px;
    margin: 10px 0;
}

.banner-image{
    background-image: url(../img/slider1.jpg);
    background-size: cover;
    background-position: center center;
}


.navbar-toggler{
    filter: invert(1);
    border: none;
}
.navbar-collapse{
    color: #000000;
}

.nav-item{
    margin: 0 10px;
}

.utilities-container{
    margin-top: -2px;
}


/* .form-control{
    height: 35px;
    border-radius: 50px;
    display: block;
    padding: 12px;
    width: 250px;
    border: 1px solid rgba(4, 4, 4, 0.88);
    font-size: 12px;
    appearance: none;
    color: #040404;
    background-color: #ebe1e100;
}

.search-input{
    font-weight: 300;
}

.search-input-submit{
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -12px;
    font-size: 18px;
    background: none;
    border: 0;
}

.search-input-submit i{
    color: #040404;
    fill: #040404;
}

button{
    cursor: pointer;
}

@media (max-width: 1262px){
    .buscador{
        visibility: hidden;
    }
} */

.text-banner{
    margin-top: 400px;
    font-size: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 854px){
    .text-banner{
        visibility: hidden;
    }
}

.navbar-nav{
    margin-right: 10px;
}

.nav-item{
    display: inline-block;
    line-height: 10px;
    margin: 0 10px;
}

.nav-link{
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 15px 13px;
    border-radius: 6px;
    text-transform: uppercase;
}

.nav-link:hover{

    font-weight: bold;
    color: #8aecf3;
    transition: .5s;
}

.nav-link.active{

    color: #080808!important;
    font-weight: bold;
    transition: .5s;
}

/*css for informative banner*/
/*Realizado con media queries*/
#banner-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    background: #fff; */
}

@media (max-width:1024px){
    #banner-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.card{
    margin: 20px;
    width: 350px;
    height: 400px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
}

.card-img1{
    background: url(../img/banner1.jpg);
    background-size: cover;
}

.card-img2{
    background: url(../img/banner2.jpg);
    background-size: cover;
}

.card-img3{
    background: url(../img/banner3.jpg);
    background-size: cover;
}

.card a{
    text-decoration: none;
}

.content-banner-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
}

.content-banner-card h2, a {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

@media(min-width:1024px){
    .content-banner-card{
        opacity: 0;
        transition: .5s;
    }
}

.card:hover .content-banner-card {
    opacity: 1;
}


/*css for instafeed*/

#instafeed{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.instafeed-title{
    color: #222 ;
    text-decoration: none;
}

.instafeed-title i{
    font-size: 45px;
    line-height: 45px;
    text-decoration: none;
}

.col i{
    margin: 25px;
}

.instafeed-title-user{
    display: inline-block;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: rgb(23, 206, 206);
}

.instafeed-title-user:hover{
    transition: all 800ms ease;
    color: rgb(141, 138, 135);
}

/*css for card-items*/

#shop-container{
    text-align: center!important;
}

.item{
    max-width: 100%;
    align-items: center;
    margin-bottom: 1.5rem !important;
    border-radius: 6px;
    overflow: hidden;
    background: rgba(240, 240, 240, 0.58);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}


.item:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%); /*mueve en la linea Y*/
}

.item img{
    width: 350px;
    height: 400px;
    background-position: center center;
}

.contenido-item{
    text-align: center;
    padding: 15px;
    font-family: "Rubik",sans-serif;
}

.nombre-item{
    text-transform: uppercase;
    font-weight: normal;
    font-size: large;
    margin: 5px;
}

.precio-item{
    font-weight: bold;
    font-size: 20px;
    color: #5fe1b6;
}

.negrita{
    font-weight: bold;
    color: #000000;
}

#button-product body{
    background-color: #eee;
}

#button-product{
    margin: 30px 0;
    text-align: center;
}

#button-product button{
    background-color: transparent;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, 
    -.5rem -.5rem 1rem #fff;
}

#button-product button:hover{
    box-shadow: .5rem .5rem 1rem #fff, 
    -.5rem -.5rem 1rem #ccc;
}

#button-product button.active{
    box-shadow: inset .2rem .2rem 1rem #ccc, 
    inset -.2rem -.2rem 1rem #ccc;
}

/*css for local*/

#direction h3{
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

.leyend{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: #040404;
}

.local{ 
    text-align: center;
}

.bold-text:hover{
    cursor: default;
    color: #5fe1b6;
}

.bold-text{
    text-transform: none;
    font-family: 'Secular One', sans-serif;
    color: #040404;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

/* @media (max-width:540px){
    .iframe{
        width: 79px;
        
    }
} */


@media (min-width: 1250px) {

    #local-container{
        max-width: 100%;
        max-height: 100%;
        text-align: center;
        
    }
    
    .info-local{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #img-ubication{
        max-width: 100%;
    }
    
    .iframe{ 
        min-width: 50vw;
        padding: 20px;
    }
    
    .direction{
        min-width: 50vw;
        text-align: center;
        padding: 20px;
    } 
    
    .leyend{
        margin: 50px;
    }
}

/*css for FAQs*/
#preguntas-frecuentes{
    text-align: center;
}

.subtitulo-FAQs{
    padding: 20px;
    text-transform: uppercase;
}

/*css for contact*/


/*css for footer*/
footer{
    background-color: #222;
    padding: 3rem;
    color: white;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}